body {
  background-color: #fff;
}

.theme {
  font-size: 30px;
  font-weight: bold;
}

.roulette-group {
  margin-top: 50px;
  display: flex;
}
.roulette-area {
  width: 50%;
  text-align: center;
}

.roulette-inner img {
  margin: auto;
  width: 50%;
}

.info-area {
  display: flex;
}
.left, .right {
  text-align: center;
  width: 40%;
}
.center {
  text-align: center;
  width: 20%;
}

.color-result {
  margin: auto;
  width: 30%;
  height: 60px;
  background-color: #fff;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
}

.color-result .color-label {
  color: #fff;
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
}

.part-result {
  margin: auto;
  width: 30%;
  height: 60px;
  background-color: #fff;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
}

.part-result .part-label {
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
}

.info-area {
  margin-top: 60px;
}

.btn {
  width: 300px;
  height: 60px;
}
